* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
}
.top-nav{
  width: 100%;
  height: 72px;
  background-color: rgb(55, 149, 255);
      border: 3px solid #000;
      border-top: none;
}

.menu {
    list-style: none;
    display: flex;
    width: 70%;             
    margin: 0 auto;
    border: 3px solid #000;
    border-top: none;
}

.menu-item {
    flex: 1;
    position: relative;
    text-align: center;
    border-left: 3px solid #000;
    border-top: none;
}
.menu-item:first-child {
    border-left: none;
}

.menu-item a {
    display: block;
    padding: 25px 0;
    text-decoration: none;
    color: #000;
    background: #fff;
    font-size: 16px;
}


.has-dropdown {
    position: relative;
}

.has-dropdown .dropdown {
    list-style: none;
    position: absolute;
    top: 100%;             
    left: -3px;            
    right: -3px;
    border: 3px solid #000;
    background: #fff;
    display: none;
    z-index: 10;
}


.has-dropdown:hover .dropdown {
    display: block;
}


.dropdown li a {
    display: block;
    padding: 10px 0;
    border-top: 3px solid #000;
    text-decoration: none;
    color: #000;
}
.dropdown li:first-child a {
    border-top: none;
}


.box{
  display: flex;
  height: 100%;
}
.mega-sidebar{
  height: 100%;
  width: 258px;
  border-right: 3px solid #000;
}
.sidebar {
    width: 258px;
    flex: 0 0 180px;          
    border-right: none;
}

.sidebar-top {
    height: 40px;            
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}


.social-list {
    list-style: none;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}
.social-list li a {
    display: block;
    padding: 12px;
    border-top: 3px solid #000;
    background: #fff;
    text-decoration: none;
    color: #000;
    text-align: left;
}
.social-list li:first-child a {
    border-top: none;
}


.content{
  background-color: rgb(208, 208, 208);
  width: 100%;
}
.main-content {
    flex: 1 1 auto;
    margin-top: 40px;
    margin-right: 250px;
    padding: 0 170px 40px;
    display: flex;
    justify-content: center;
}

.content-box {
    max-width: 100%;
    background: #fff;
    border: 4px solid #000;
    padding: 30px 40px;
}
.content-box h2 {
    margin-bottom: 12px;
}
.content-box p {
    line-height: 1.6;
    text-align: justify;
}