* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ font-family: Arial, Helvetica, sans-serif; color:var(--text); }
.mega-menu{
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-top{
    visibility: visible;
    pointer-events: auto;
    display: flex;
    background-color: #183883;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    height: 47px;
}
.text-uppercase {
    text-transform: uppercase !important;
    color: white;
}
.fw-medium{
    color: white;
}
.text-uppercase{
    font-weight: 700 !important;
    color: white;
}
.item-center-menu-top{
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
}
a{
  text-decoration: none;
}
.icon{
    background-color: #1fb4ff;
    border: solid 0px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.content-right{
    padding-left: 120px;
    display: flex;
    align-items: center;
}
.menu-bottom{
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: auto;
    margin-left: auto;
}
.menu-bottom-main{
    text-align: center;
    background: #fff;
    align-items: center !important;
    justify-content: center;
    display: flex !important;
    gap: 55px;
}
.logo-main{
    justify-content: center;
}
.item-main{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    align-self: stretch;
}
.action{
    display: flex;
    gap: 28px;
    align-items: center;
}
.icon-search{
    border-radius: 50%;
    background-color: #1fb4ff;
    width: 46px;
    height: 46px;
    justify-content: center;
}
.icon-shop{
    border-radius: 40px;
    background-color: #1fb4ff;
    width: 144px;
    height: 46px;
    display: flex;
    align-items: center;      
    justify-content: center;  
}
.text-shop{
    color: #fff;
    text-align: center;
    line-height: 1;
}

/*  MENU */
.item-main{
  list-style: none;
  margin: 0;
  padding: 0;
    
  display: flex;
  align-items: center;
  gap: 34px;                 
}

.item-main > li{
  position: relative;
}


.item-main > li > a{
  text-decoration: none;
  color: #111;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .3px;
  padding: 18px 0;          
  display: inline-block;
}


.item-main > li.active > a{
  color: #3c78d8;
}


.item-main .caret{
  margin-left: 10px;
  font-size: 12px;
  color: #6aa6e6;
  transform: translateY(1px);
  display: inline-block;
}

/*drop*/
.sub-menu{
  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  top: calc(100% + 18px);     
  text-align: left;
  left: 50%; 
  transform: translateX(-40%);
    
  width: 200px;
  background: #fff;
  border-radius: 0;           
  display: none;
  z-index: 9999;
}

.sub-menu li a{
  display: block;
  padding: 20px 26px;
  font-size: 12px;

  color: #000;                
  text-decoration: none;
  transition: color .2s ease, background .2s ease;
}


.sub-menu li a:hover{
  color: #3c78d8;
  background: rgba(0,0,0,.03);
}


.item-main > li.has-sub:hover > .sub-menu{
  display: block;
}



.item-main{ position: relative; z-index: 10000; }
.item-main > li{ position: relative; z-index: 10001; }


.item-main > li.has-sub > .sub-menu{
  z-index: 10002;
}


.item-main > li.has-sub::before{
  content:"";
  position:absolute;
  left:-40px;
  right:-40px;
  top:100%;
  height:18px;              
  background:transparent;
  pointer-events:auto;      
  z-index: 10001;           
}


.sub-menu, .sub-menu *{
  pointer-events: auto;
}

.item-main > li > a:hover{
  color: #3c78d8;
}
/* -------------------------------------------*/
.mega-body{
  background-color: #e9ecef;
  width: 100%;
  margin-top: 140px;
}
.banner{
  width: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;      /* giữ tỉ lệ */
  display: block;
  object-fit: cover;
}
.banner-content{
  top: 42%;
  left: 15%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  max-width: 468px;
}
.title-one{
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 600;
}
.banner-content>h1>p{
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.56px;
  margin-bottom: 8px;
  font-size: 50px;
}
.title-last{
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
  font-size: 20px;
}
.button-dk{
  width: fit-content;
    padding: 17px 25px;
    border-radius: 60px;
    background: #183883;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    transition: all 0.3s ease;
}
.section-body-top{
  max-width: 1200px;
  margin: 0 auto;      /* căn giữa khung cha */
  width: 100%;
}
.sec-top{
  padding: 60px 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;     /* căn giữa theo chiều dọc */
  padding-left: 20px;
}
.sec-top>div{
  border-radius: 12px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
  height: 146px;
  width: 204px;
  background-color: white;

  display: flex;           /* để căn ảnh bên trong */
  justify-content: center;
  align-items: center;
}
.sec-top img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;     /* ảnh nằm gọn trong khung */
  display: block;
}
.content-sec{
  display: flex;
  flex-direction: column;   /* xếp dọc: ảnh trên, text dưới */
  justify-content: center;
  align-items: center;      /* căn giữa ngang */
  gap: 8px;                 /* khoảng cách giữa ảnh và chữ */
  text-align: center;
  margin-left: 20px;
}

.content-sec span {
  color: #333;
  transition: color 0.3s ease;
  cursor: pointer;
}

.content-sec span:hover {
  color: #1e73be;
}


.sec-bottom{
  padding-bottom: 60px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center; /* căn giữa cả cụm */
  align-items: center;
  gap: 22px;               /* khoảng cách giữa 2 ảnh */
  flex-wrap: nowrap;      /* luôn cùng 1 dòng */
}

.sec-bottom > div {
  border-radius: 12px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
  height: 280px;
  width: 592px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden; /*  chặn ảnh tràn ra ngoài */
}

.sec-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;

  transition: transform 0.4s ease; /* mượt */
}

.sec-bottom > div:hover img {
  transform: scale(1.1); /* zoom in 10% */
}
/* -------------------------------------------*/
.mega-footer{
  background-color: #183883;
  width: 100%;
  height: 600px;

}
.footer-top{
  padding-top: 50px;
}
.footer-top-content{
  width: 1200px;
  height: 160px;

  margin: 0 auto;              

  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: left;
}

.text-mid-footer{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;  
  text-align: center;
  padding-right: 40px;
}


.text-mid-footer .content-top a{
  text-decoration: none;
}

.text-mid-footer .content-top strong{
  font-size: 20px;
  font-weight: 700;
  color: #3c78d8;
  letter-spacing: 0.4px;
  line-height: 1.35;
  display: block;
}

/* -------------------------------------------*/
.text-mid-footer .content-bottom a{
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #111;
  letter-spacing: 0.2px;
  line-height: 1.4;
  padding-right: 170px;
}
.text-mid-footer .content-top strong{
   text-transform: uppercase; 
}
.text-icon-right{
  padding-right: 120px;
}
.icon-right{
  display: flex;
}
.icon-right-footer{
  border-radius: 50%;
  border: solid 1px black;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  margin-top: 10px;
}
  
.footer-bottom-content{
  width: 1200px;
  margin: 0 auto;
  display: flex;  
  margin-top: 50px;
  color: white;
}
.col{
  margin-right: 80px;
}
.col h3{
  font-weight: bolder;
}
.col li{
  color: white;
  display: grid;
  padding-top: 13px;
}

.col-page h3{
  font-weight: bolder;
}

.page-fb{
  margin-top: 13px;
  border: solid 1px white;
  background-color: white;
  width: 312px;
  height: 132px;
}

.footer-bottom{
  width: 100%;
  height: 48px;
  background-color: #0093dd;

  display: flex;
}

.content-end{
  width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.col-bottom{
  flex: 1;
}


.col-bottom:nth-child(1){
  text-align: left;
}

.col-bottom:nth-child(2){
  text-align: center;
}

.col-bottom:nth-child(3){
  text-align: right;
}

/* -------------------------------------------*/
.footer-bottom a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
